:root {
  --primary-purple: #722ed1;
  --light-purple: #f7f1ff;
  --black-text: #000000;
  --primary-font: 'Metropolis', sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--black-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/**
  |============================
  | HERO SECTION
  |============================
*/
.hero-section {
  background: linear-gradient(to bottom right, #ffffff, #e2f1ff);
}

.nav-list {
  gap: 40px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 517px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.btns-container button {
  width: 100%;
  display: flex;
  padding: 12px 24px;
  position: relative;
  max-width: 142px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 23px 23px 23px 23px;
  justify-content: center;

  font-size: 14px;
  font-style: normal;
}
