:root {
  --primary-purple: #722ed1;
  --light-purple: #f7f1ff;
  --black-text: #000000;
  --grey-text: #8989a2;
  --light-grey: #d9d9d9;
  --primary-font: 'Metrophobic', sans-serif;
  --white: #ffffff;
  --light-blue: #e6f7ff;
  --blue: #1890ff;
  --light-red: #fff1f0;
  --red: #f5222d;
  --light-green: #f6ffed;
  --green: #52c41a;
  --pink: #f9f0ff;
  --hot-pink: #d82d7e;
  --orange: #fa8f21;
  --secondary-white: #fbfcff;
}

body {
  font-family: var(--primary-font);
  color: var(--black-text);
  background-color: var(--white);
}

html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.contaner {
  max-width: 960px;
}

/**
  |============================
  | HERO SECTION
  |============================
*/
.hero-section {
  /* background-image: url('../images/BG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1440px; */
  width: 100%;
  min-height: 696px;
  margin: 0 auto;
  padding-top: 20px;
  background-image: linear-gradient(to bottom, #fff, #e2f1ff);
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
}

.navigation {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}

.nav-list {
  gap: 40px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 680px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: var(--black-text);
  font-size: 14px;
  font-weight: 400;
}

.start-trial-btn {
  padding: 12px 24px;
  max-width: 142px;
  height: 38px;
  color: var(--primary-purple);
  background-color: transparent;
  border: 1px solid var(--primary-purple);
  border-radius: 23px;
  cursor: pointer;
}

.btns-container {
  display: flex;
  gap: 16px;
}

.btns-container button {
  width: 100%;
  display: flex;
  padding: 12px 24px;
  position: relative;
  max-width: 142px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 23px;
  justify-content: center;
  font-size: 14px;
  font-style: normal;
  border: none;
  height: 38px;
  cursor: pointer;
}

.btn-start {
  color: var(--white);
  background-color: var(--primary-purple);
}

.btn-learn {
  color: var(--primary-purple);
  background-color: var(--white);
}

.main-hero-container {
  display: flex;
  gap: 16px;
  margin: 0 auto;
}

.text-container {
  max-width: 472px;
}

.p-hero {
  margin-bottom: 24px;
  color: var(--primary-purple);
  font-weight: bold;
  border-radius: 20px;
  background-color: var(--light-purple);
  max-width: 258px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-icon {
  fill: var(--primary-purple);
}

.hero-heading {
  color: var(--black-text);
  width: 100%;
  font-size: 48px;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 24px;
}

.second-heading-hero {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  opacity: 60%;
}

/**
  |============================
  | WHY SECTION
  |============================
*/

.why-section {
  padding: 112px 240px;
}

.main-why-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-p {
  color: var(--primary-purple);
  font-weight: bold;
  font-size: 16px;
  width: 158px;
  height: 40px;
  border-radius: 20px;
  background: var(--light-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.eye-icon {
  fill: var(--primary-purple);
  margin-right: 10px;
}

.why-heading {
  font-weight: bold;
  border-radius: 32px;
  color: var(--black-text);
  margin-bottom: 24px;
}

.big-p-why {
  font-size: 16px;
  color: var(--grey-text);
  max-width: 672px;
  text-align: center;
  margin-bottom: 24px;
}

.why-reasons-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 16px;
}

.why-reasons-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 317px;
}

.why-reasons-heading {
  font-size: 16px;
  margin-bottom: 16px;
}

.why-reasons-p {
  font-size: 16px;
  color: var(--grey-text);
}

.icon-container {
  margin-bottom: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insights {
  background-color: var(--light-blue);
}

.icon-insights {
  fill: var(--blue);
}

.algorithms {
  background-color: var(--light-red);
}

.icon-algorithms {
  fill: var(--red);
}

.data {
  background-color: var(--light-green);
}

.icon-data {
  fill: var(--green);
}

/**
  |============================
  | PRODUCT TEAMS SECTION
  |============================
*/

.product-section {
  padding: 120px 240px;
}

.main-product-container {
  display: flex;
  flex-direction: row;
  gap: 88px;
}

.product-circles-container {
  position: relative;
  width: 400px;
  height: auto;
  padding: 30px;
}

.circle {
  position: absolute;
}

.circle-container {
  background-color: var(--white);
  border-radius: 50%;
  width: 72px;
  height: 72px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.circle-logo {
  width: 110px;
  height: 110px;
  top: 178px;
  left: 178px;
}

.circle1 {
  top: 0;
  left: 190px;
}

.circle2 {
  top: 70px;
  left: 40px;
}

.circle3 {
  top: 230px;
  left: 50px;
}

.circle4 {
  top: 370px;
  left: 110px;
}

.circle5 {
  top: 360px;
  left: 300px;
}

.circle6 {
  top: 100px;
  left: 320px;
}

.circle7 {
  top: 230px;
  left: 340px;
}

/* text */

.product-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-big-p {
  color: var(--primary-purple);
  font-weight: bold;
  font-size: 16px;
  width: 224px;
  height: 40px;
  border-radius: 20px;
  background: var(--light-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.product-icon {
  fill: var(--primary-purple);
  margin-right: 14px;
}

.product-heading {
  color: var(--black-text);
  font-size: 32px;
  font-weight: bold;
  max-width: 420px;
  margin-bottom: 24px;
}

.product-p {
  width: 474px;
  font-size: 16px;
  color: var(--grey-text);
}

/**
  |============================
  | ENGINEER SECTION
  |============================
*/
.engineer-section {
  padding-left: 280px;
  padding-right: 0;
}

.main-engineer-container {
  display: flex;
}

.engineer-text-container {
  max-width: 509px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.engineer-big-p {
  margin-bottom: 24px;
  color: var(--primary-purple);
  font-weight: bold;
  border-radius: 20px;
  background-color: var(--light-purple);
  max-width: 258px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.engineer-icon {
  fill: var(--primary-purple);
  margin-right: 10px;
}

.engineer-heading {
  font-size: 32px;
  font-weight: bold;
  color: var(--black-text);
  margin-bottom: 24px;
}

.engineer-p {
  width: 474px;
  text-align: left;
}

.engineer-image {
  width: 600px;
  height: 400px;
}

/**
  |============================
  | OPINION SECTION
  |============================
*/
.opinion-section {
  padding-bottom: 205px;
}

.main-opinion-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  max-width: 964px;
}

.opinion-heading {
  text-align: center;
  font-size: 24px;
  color: var(--black-text);
  margin-bottom: 32px;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.man-image {
  border-radius: 50%;
  margin-bottom: 32px;
}

.opinion-p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 64px;
}

.opinion-list {
  display: flex;
  gap: 91px;
}

.skewed {
  clip-path: polygon(100% 6%, 100% 83%, 0 100%, 0 25%);
  background-image: linear-gradient(to bottom, #f9f0ff, #e2f1ff);
  z-index: -1;
}

/**
  |============================
  | FORM SECTION
  |============================
*/

.form-section {
  padding: 0px 220px 120px 280px;
}

.main-form-container {
  display: flex;
  gap: 45px;
}

.form-text-container {
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section-heading {
  color: var(--black-text);
  font-size: 32px;
  margin-bottom: 35px;
}

.form-section-p {
  font-size: 16px;
  color: var(--grey-text);
  position: relative;
  width: 85px;
  margin-right: 15px;
}

.form-section-p::before,
.form-section-p::after {
  content: '';
  position: absolute;
  width: 144px;
  height: 1px;
  background-color: var(--grey-text);
}

.form-section-p::before {
  left: -145px;
  top: 50%;
  transform: translateY(-50%);
}

.form-section-p::after {
  right: -145px;
  top: 50%;
  transform: translateY(-50%);
}

.trust-companies-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
}

.background {
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pink);
  position: relative;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  height: 430px;
  width: 348px;
  position: absolute;
  bottom: 28px;
  padding: 32px 40px;
  box-shadow: 4px 4px 12px 0 rgba(137, 137, 162, 0.12);
  border-radius: 5px;
}

.form-heading {
  width: 347px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.form-btn {
  width: 344px;
  height: 48px;
  color: var(--white);
  background-color: var(--primary-purple);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.form-input {
  width: 344px;
  height: 48px;
  margin-bottom: 16px;
  color: var(--grey-text);
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  padding-left: 16px;
  font-size: 16px;
}

.last {
  margin-bottom: 40px;
}

.line {
  border: 1px solid var(--light-grey);
  margin-bottom: 24px;
  width: 336px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-p {
  font-size: 16px;
  color: var(--grey-text);
  margin-bottom: 16px;
}

.login-link {
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-purple);
}

/**
  |============================
  | FOOTER SECTION
  |============================
*/

.footer-section {
  padding-top: 58px;
  padding-left: 250px;
  padding-bottom: 50px;
  background-color: var(--secondary-white);
}

.main-footer-container {
  display: flex;
}

.logo-text-container {
  width: 209px;
  margin-right: 40px;
  font-weight: bold;
}

.text-p {
  text-align: start;
  margin-bottom: 24px;
  margin-top: 14px;
}

.socials-list {
  margin-right: 40px;
  display: flex;
  gap: 12px;
}

.inst {
  fill: var(--hot-pink);
}

.product-list {
  margin-right: 40px;
}

.dev-list {
  margin-right: 40px;
}

.company-list {
  margin-right: 40px;
}

.support-list {
  margin-right: 40px;
}

.list-heading {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

.main-footer-container ul > li {
  font-size: 13px;
  margin-bottom: 15px;
}
