:root {
  --primary-purple: #722ed1;
  --light-purple: #f7f1ff;
  --black-text: #000000;
  --grey-text: #8989a2;
  --primary-font: 'Metrophobic', sans-serif;
  --white: #ffffff;
  --light-blue: #e6f7ff;
  --blue: #1890ff;
  --light-red: #fff1f0;
  --red: #f5222d;
  --light-green: #f6ffed;
  --green: #52c41a;
}

body {
  font-family: var(--primary-font);
  color: var(--black-text);
  background-color: var(--white);
}

html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.contaner {
  max-width: 960px;
}

/**
  |============================
  | HERO SECTION
  |============================
*/
.hero-section {
  /* background-image: url('../images/BG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1440px; */
  width: 100%;
  height: 696px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #fff, #e2f1ff);
  padding-top: 20px;
}

.navigation {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}

.nav-list {
  gap: 40px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 680px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: var(--black-text);
  font-size: 14px;
  font-weight: 400;
}

.start-trial-btn {
  padding: 12px 24px;
  max-width: 142px;
  height: 38px;
  color: var(--primary-purple);
  background-color: transparent;
  border: 1px solid var(--primary-purple);
  border-radius: 23px;
}

.btns-container {
  display: flex;
  gap: 16px;
}

.btns-container button {
  width: 100%;
  display: flex;
  padding: 12px 24px;
  position: relative;
  max-width: 142px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 23px;
  justify-content: center;
  font-size: 14px;
  font-style: normal;
  border: none;
  height: 38px;
}

.btn-start {
  color: var(--white);
  background-color: var(--primary-purple);
}

.btn-learn {
  color: var(--primary-purple);
  background-color: var(--white);
}

.main-hero-container {
  display: flex;
  gap: 16px;
  margin: 0 auto;
}

.text-container {
  max-width: 472px;
}

.p-hero {
  margin-bottom: 24px;
  color: var(--primary-purple);
  font-weight: bold;
  border-radius: 20px;
  background-color: var(--light-purple);
  max-width: 258px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-icon {
  fill: var(--primary-purple);
}

.hero-heading {
  color: var(--black-text);
  width: 100%;
  font-size: 48px;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 24px;
}

.second-heading-hero {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  opacity: 60%;
}

/**
  |============================
  | WHY SECTION
  |============================
*/

.why-section {
  padding: 112px 240px;
}

.main-why-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-p {
  color: var(--primary-purple);
  font-weight: bold;
  font-size: 16px;
  width: 158px;
  height: 40px;
  border-radius: 20px;
  background: var(--light-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.eye-icon {
  fill: var(--primary-purple);
  margin-right: 10px;
}

.why-heading {
  font-weight: bold;
  border-radius: 32px;
  color: var(--black-text);
  margin-bottom: 24px;
}

.big-p-why {
  font-size: 16px;
  color: var(--grey-text);
  max-width: 672px;
  text-align: center;
  margin-bottom: 24px;
}

.why-reasons-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 16px;
}

.why-reasons-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 317px;
}

.why-reasons-heading {
  font-size: 16px;
  margin-bottom: 16px;
}

.why-reasons-p {
  font-size: 16px;
  color: var(--grey-text);
}

.icon-container {
  margin-bottom: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insights {
  background-color: var(--light-blue);
}

.icon-insights {
  fill: var(--blue);
}

.algorithms {
  background-color: var(--light-red);
}

.icon-algorithms {
  fill: var(--red);
}

.data {
  background-color: var(--light-green);
}

.icon-data {
  fill: var(--green);
}

/**
  |============================
  | PRODUCT TEAMS SECTION
  |============================
*/

.product-section {
  padding: 120px 240px;
}

.main-product-container {
  display: flex;
  flex-direction: row;
  gap: 88px;
}

.product-circles-container {
  position: relative;
  width: 400px;
  height: auto;
  padding: 30px;
}

.circle {
  position: absolute;
}

.circle-container {
  background-color: var(--white);
  border-radius: 50%;
  width: 72px;
  height: 72px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.circle-logo {
  width: 110px;
  height: 110px;
  top: 178px;
  left: 178px;
}

.circle1 {
  top: 0;
  left: 190px;
}

.circle2 {
  top: 70px;
  left: 40px;
}

.circle3 {
  top: 230px;
  left: 50px;
}

.circle4 {
  top: 370px;
  left: 110px;
}

.circle5 {
  top: 360px;
  left: 300px;
}

.circle6 {
  top: 100px;
  left: 320px;
}

.circle7 {
  top: 230px;
  left: 340px;
}

/* text */

.product-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-big-p {
  color: var(--primary-purple);
  font-weight: bold;
  font-size: 16px;
  width: 224px;
  height: 40px;
  border-radius: 20px;
  background: var(--light-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.product-icon {
  fill: var(--primary-purple);
  margin-right: 14px;
}

.product-heading {
  color: var(--black-text);
  font-size: 32px;
  font-weight: bold;
  max-width: 420px;
  margin-bottom: 24px;
}

.product-p {
  width: 474px;
  font-size: 16px;
  color: var(--grey-text);
}

/**
  |============================
  | ENGINEER SECTION
  |============================
*/
.engineer-section {
  padding-left: 280px;
  padding-right: 0;
}

.main-engineer-container {
  display: flex;
}

.engineer-text-container {
  max-width: 509px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.engineer-big-p {
  margin-bottom: 24px;
  color: var(--primary-purple);
  font-weight: bold;
  border-radius: 20px;
  background-color: var(--light-purple);
  max-width: 258px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.engineer-icon {
  fill: var(--primary-purple);
  margin-right: 10px;
}

.engineer-heading {
  font-size: 32px;
  font-weight: bold;
  color: var(--black-text);
  margin-bottom: 24px;
}

.engineer-p {
  width: 474px;
  text-align: left;
}

.engineer-image {
  width: 600px;
  height: 400px;
}
